{deps, [
    {epgpb, ".*", {git, "https://github.com/drfloob/epgpb.git"}},
    {reloader, ".*", {git, "https://github.com/oinksoft/reloader.git"}},
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git"}},
    {transit, ".*", {git, "https://github.com/isaiah/transit-erlang.git"}},
    {iso8601, ".*", {git, "https://github.com/seansawyer/erlang_iso8601.git", {tag, "1.1.1"}}},
    {qdate, ".*", {git, "https://github.com/choptastic/qdate.git"}},
    {erlydtl, ".*", {git, "https://github.com/erlydtl/erlydtl.git"}}
]}.

{edoc_opts, [{preprocess, true}, {includes, ["."]} ]}.
